*{
    padding: 0;
    margin: 0;
    border: 0;

}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display:block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5.h6{font-size: inherit;font-weight: 400;}

.container {
    font-size: 24px;
    margin: 125px 290px 0 290px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.title {
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0 0 17px 0;
}
.sometext {
    margin: 0 58px 86px;
    text-align: center;

}
.foto {
    text-align: center;
    border: 10px solid white;
    margin: 0 0 108px 0;
}
.sometext{
    
}
.sometext2{

}
.sometext3 {
    margin: 70px 0;
}

.table li {
    background: url('/img/checkmark.png') 0px 5px/15px no-repeat;
    padding: 0 0 0 20px;
}
.item {

		&__table {
            font-weight: 500;
        }

		&__table1 {
            font-style: italic;
            color: rgb(100, 204, 140);
        }

		&__table2 {font-weight: 700;
        }

		&__table3 {
            text-decoration: line-through;
            color: rgb(162, 159, 163);
        }
}


.button { 
    margin: 60px 1070px 30px 30px;
    border-radius: 50px;
    background: rgb(100, 204, 140);
    color: rgb(252, 252, 252);
    font-size: 14px;
    padding: 10px 15px;
    letter-spacing: 3px;
    text-align: center;
    
}
