*{
    padding: 0;
    margin: 0;
    border: 0;

}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display:block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5.h6{font-size: inherit;font-weight: 400;}

.conteiner {
    margin: 120px 270px 0;
    line-height: 25px;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.title {
    text-transform: uppercase;
    font-size: 10px;
    margin: 0 0 10px 0;
}
.list {
    margin: 0 0 50px 0;
}

.list li{
    margin: 2px;
    padding: 0.5em 0.5em 0.5em 2em;
    position: relative;

    
}


.list li:before{
    content: '';
  position: absolute;
  border-color: #009933;
  border-style: solid;
  border-width: 0 0.3em 0.25em 0;
  height: 1em;
  top: 1.3em;
  left: 0.6em;
  margin-top: -1em;
  transform: rotate(45deg);
  width: 0.5em;
}
.list2 {
    margin: 0 0 3em 0;
}
.list2 li{
    margin: 2px;
    padding: 0.5em 0.5em 0.5em 2em;
    position: relative;

    
}


.list2 li:before{
    content: '';
  position:absolute;
  border-color: #009933;
  border-style: solid;
  border-width: 0 0.3em 0.25em 0;
  height: 1em;
  top: 1.3em;
  left: 0.6em;
  margin-top: -1em;
  transform: rotate(45deg);
  width: 0.5em;
}
.item1 {
    text-decoration: line-through;
}
.item2 {
    font-weight: 600;
}
.item3 {
    font-style: italic;
}
.item4 {
    text-transform: uppercase;
}
.item5 {
}
.item6:hover{
    color: red;
}
.item7 {
}
.item8 {
}
.buttons{
    margin: 0 0 50px 0;
}
.button1 {
    display: inline-block;
    height: 2.5em;
    width: 13em;
    border-radius: 100px;
    background: rgb(135, 187, 156);
    text-align: center;
    margin: 0 250px 0 80px;
    color: white;
    padding: 10px 0 0 0;

}
.button1::after{
    content: '\2192';
    margin: 0 0 5px 15px;
    font-size: 22px;

}
.button2 {
    display: inline-block;
    height: 2.5em;
    width: 13em;
    border-radius: 100px;
    background: rgb(135, 187, 156);
    text-align: center;
    margin: 0 250px 0 0;
    color: white;
    padding: 10px 0 0 0;

}
.button2::after{
    content: '\2192';
    margin: 0 0 5px 15px;

}
.button2:hover{
    background-color: rgb(48, 95, 77);
}
.button3 {
    display: inline-block;
    height: 2.5em;
    width: 13em;
    border-radius: 100px;
    background: rgb(135, 187, 156);
    text-align: center;
    color: white;
    padding: 10px 0 0 0

}
.button3::after{
    content: '\2192';
    margin: 0 0 5px 15px;

}
.button3:active{
    background-color: rgb(129, 126, 126);
}
.text1::first-letter {
    color: red;
    font-size: 50px;
    
}

.text2::first-line {
    color: red;

}
