* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5.h6 {
  font-size: inherit;
  font-weight: 400;
}
body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #269c39;
}
.watch {
  margin: 250px 0 0 0;
  background-color: #fff;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.watch__frame {
  background-color: #fff;
  height: 500px;
  width: 500px;
  border: 25px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.n1 {
  position: absolute;
  top: 72%;
  left: 54%;
  font-size: 40px;
  font-weight: 700px;
}
.n2 {
  position: absolute;
  top: 84%;
  left: 57%;
  font-size: 40px;
  font-weight: 700px;
}
.n3 {
  position: absolute;
  top: 104.5%;
  left: 58.5%;
  font-size: 40px;
  font-weight: 700px;
}
.n4 {
  position: absolute;
  top: 124%;
  left: 57%;
  font-size: 40px;
  font-weight: 700px;
}
.n5 {
  position: absolute;
  top: 138%;
  left: 54%;
  font-size: 40px;
  font-weight: 700px;
}
.n6 {
  position: absolute;
  top: 145%;
  left: 49.5%;
  font-size: 40px;
  font-weight: 700px;
}
.n7 {
  position: absolute;
  top: 138%;
  left: 45%;
  font-size: 40px;
  font-weight: 700px;
}
.n8 {
  position: absolute;
  top: 124%;
  left: 42%;
  font-size: 40px;
  font-weight: 700px;
}
.n9 {
  position: absolute;
  top: 104.5%;
  left: 40.5%;
  font-size: 40px;
  font-weight: 700px;
}
.n10 {
  position: absolute;
  top: 84%;
  left: 42%;
  font-size: 40px;
  font-weight: 700px;
}
.n11 {
  position: absolute;
  top: 70%;
  left: 45.5%;
  font-size: 40px;
  font-weight: 700px;
}
.n12 {
  position: absolute;
  top: 65%;
  left: 49.5%;
  font-size: 40px;
  font-weight: 700px;
}
