// Файл обнуляющих стилей
@import url('./nullstyle.less');

body {
    padding: 20px;
}

.logpass {
    border: 1px solid #000;
    width: 150px;
    height: 50px;

    &:hover {
        box-shadow: 5px 5px 10px #f0a440;
    }

    &:active {
        box-shadow: 5px 5px 5px #924462;
    }

}